<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <style>
        .cheater {
            background-color: #ff7b7b;
            width: fit-content;
        }
        
        .results {
            margin: 9px;
            border: 1px solid;
            padding: 12px;
            width: fit-content;
            min-width: 533px;
        }
        
        .pad {
            margin: 9px;
            padding: 12px;
        }
    </style>
</head>

<body>
    <h1>Admin Dashboard</h1>
    <div class="pad">
        <button id="toggle-refresh" class="refresh-toggle">Disable Auto-Refresh (<span id="countdown">5</span>)</button>
    </div>
    <div class="results">
        <h2>Top Score (non cheaters only)</h2>
        {% if top_non_cheater %}
        <p><strong>Game ID:</strong> {{ top_non_cheater.game_id }}</p>
        <p><strong>Score:</strong> {{ top_non_cheater.score }}</p>
        <p><strong>Date and Time:</strong> {{ top_non_cheater.date_time }}</p>
        {% else %}
        <p>No non-cheater scores available.</p>
        {% endif %}
    </div>

    <div class="results">
        <h2>All Games</h2>
        <ul>
            {% for key, value in game_scores.items() %}
            <li class="{{ 'cheater' if value.is_bot == 1 else '' }}">
                <strong>{{ value.date_time }}</strong>: {{ value.game_id }} - <strong>Score:</strong> {{ value.score }} - <strong>Cheating:</strong> {{ value.is_bot==1 }}
            </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        let countdown = 5;
        let autoRefresh = true;
        const countdownElement = document.getElementById('countdown');
        const toggleButton = document.getElementById('toggle-refresh');

        function updateCountdown() {
            if (autoRefresh) {
                countdown--;
                if (countdown <= 0) {
                    location.reload();
                }
                countdownElement.textContent = countdown;
            }
        }

        setInterval(updateCountdown, 1000);

        toggleButton.addEventListener('click', function() {
            autoRefresh = !autoRefresh;
            if (autoRefresh) {
                toggleButton.textContent = 'Disable Auto-Refresh (5)';
                countdown = 5;
            } else {
                toggleButton.textContent = 'Enable Auto-Refresh';
            }
        });
    </script>
</body>

</html>